.item-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.item-list li {
    padding: 16px 0;
    border-bottom: 1px solid #ccc;
}

.item {
    display: flex;
}

.item__lhs {
    width: 120px;
}

.item__rhs {
    padding: 8px;
    margin-left: 32px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.item__photo {
    display: block;
    width: 100%;
    height: auto;
}

.item__name {
    font-size: 18px;
    color: #0366d6;
}

.item__price {
    margintop: 16px;
}
