a {
    color: $secondaryColor;
}

/******************** hero ********************/
.hero {
    background: $secondaryColor;
    padding: 50px 0;
    color: #fdf3e7;
    font-weight: 300;
    line-height: 1.28;
}

.hero .text {
    font-size: 64px;
    text-align: center;
}

.hero .minitext {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}

@media only screen and (max-width: 640px) {
    .hero .text {
        font-size: 48px;
    }

    .hero .minitext {
        font-size: 14px;
    }
}

@media only screen and (max-width: 500px) {
    .hero .text {
        font-size: 36px;
    }

    .hero .minitext {
        font-size: 12px;
    }
}

/******************** navigationSlider ********************/
/* Don't let it slide down until width < 500px            */
/**********************************************************/
@media only screen and (min-width: 500px) {
    .navSearchWrapper {
        padding-left: 10px;
        position: relative;
        right: auto;
        top: auto;
    }

    .navSearchWrapper .algolia-autocomplete {
        display: block;
    }

    .navigationSlider {
        height: 34px;
        margin-left: auto;
        position: relative;
    }

    .navigationSlider .navSlideout {
        display: none;
    }

    .navigationSlider nav.slidingNav {
        background: none;
        height: auto;
        position: relative;
        right: auto;
        top: auto;
        width: auto;
    }

    .navigationSlider .slidingNav ul {
        background: none;
        display: flex;
        flex-flow: row nowrap;
        margin: 0;
        padding: 0;
        width: auto;
    }

    .navigationSlider .slidingNav ul li a {
        border: 0;
        color: rgba(255, 255, 255, 0.8);
        display: flex;
        font-size: 16px;
        font-size: 1em;
        font-weight: 300;
        height: 32px;
        line-height: 1.2em;
        margin: 0;
        padding: 0;
        padding: 6px 10px;
    }

    .navigationSlider .slidingNav ul li a:hover,
    .navigationSlider .slidingNav ul li.siteNavItemActive a,
    .navigationSlider .slidingNav ul li.siteNavGroupActive a {
        color: #fff;
    }

    .navPusher {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        min-height: calc(100vh - 50px);
        padding-top: 50px;
    }
}

/******************** home-content ********************/
/* Fix content to 900px with for wide widths          */
/******************************************************/
.home-content {
    width: 900px;
    margin: 20px auto 40px auto;
}

@media only screen and (max-width: 960px) {
    .home-content {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
}

/******************** toolbar ********************/
.toolbar {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.toolbar__element {
    margin: 0 4px;
}

.button--reverse {
    border-color: #fdf3e7;
    border-radius: 3px;
    color: #fdf3e7;
}

.button--reverse:hover {
    background: #ed6b2c;
}

/******************** nav-footer ********************/
.nav-footer {
    padding-bottom: 1em;
    padding-top: 1em;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
